asgiref==3.8.1
Django==5.0.7
django-admin-interface==0.28.8
django-colorfield==0.11.0
django-grappelli==3.0.9
django-jazzmin==3.0.0
django-tinymce==4.1.0
pillow==10.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-slugify==8.0.4
six==1.16.0
sqlparse==0.5.1
text-unidecode==1.3
