{% extends "base.html" %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "Blog/css/blog.css" %}">
<style>
  .bg_image_3{
    background-image: linear-gradient(rgb(8 21 33 / 80%), rgb(14 45 36 / 80%)),
    url("{{background_image.image.url}}");
  }
</style>
{% endblock css %} 

{% block content %}
<section class="bg_image_3">
  {% if is_search %}
  <div class="content text-center">
    <h2>Search Results for Query :{{ query }}</h2>
    <p>Here are top blog posts which we posted of  {{ query }}</p>
  </div>
  {% else %}
  <div class="content text-center">
    <h2>{{ heading|default:"All Blog Posts" }}</h2>
    <p>Here are top blog posts which we posted of {{ heading }}</p>
  </div>
  
  {% endif %}
      <div class="custom-shape-divider-bottom-1722932939">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    </section>


<!-- Blogs Section-->
<div class="container" style="margin-top: 50px;">
      <div class="row g-4">
        {% if page_obj %}
        {% for blog in page_obj %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card custom-card">
                <img src="{{blog.main_image.url}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <p class="card-text">{{blog.content|truncatechars:120|safe}}</p>
                  <a href="{% url "Blog:blog_detail" blog.slug %}" class="btn btn-color">Read More</a>
                </div>
            </div>
          </div>
            {% endfor %}
        {% else %}
        
        <p class="text-center p-5">No Blog Post Found....</p>
        {% endif %}
        
        
      </div>
      <div class="pagination-container">
        <div class="pagination">
            {% if page_obj.paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <button class="pagination-button" 
                            onclick="window.location.href='?page=1{% if query %}&query={{ query }}{% endif %}'" 
                            aria-label="First">
                        &laquo;&laquo;
                    </button>
                    <button class="pagination-button" 
                            onclick="window.location.href='?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}'" 
                            aria-label="Previous">
                        &laquo;
                    </button>
                {% endif %}
                
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <button class="pagination-button active" aria-current="page">{{ num }}</button>
                    {% else %}
                        <button class="pagination-button" 
                                onclick="window.location.href='?page={{ num }}{% if query %}&query={{ query }}{% endif %}'">{{ num }}</button>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <button class="pagination-button" 
                            onclick="window.location.href='?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}'" 
                            aria-label="Next">
                        &raquo;
                    </button>
                    <button class="pagination-button" 
                            onclick="window.location.href='?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}'" 
                            aria-label="Last">
                        &raquo;&raquo;
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    
    
    
</div>

{% endblock content %}

